﻿@model IEnumerable<QueRecTecnol.Models.Departamento>

@{
    ViewBag.Title = "Departamentos";
}

<h2>Departamentos</h2>

<p>
    @Html.ActionLink("Nuevo Departamento", "Create", new { @role = "button", @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartamentoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartamentoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepartamentoID })
        </td>
    </tr>
}

</table>
