﻿@model IEnumerable<QueRecTecnol.Models.Oficina>

@{
    ViewBag.Title = "Oficinas";
}

<h2>Oficinas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OficinaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OficinaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OficinaID })
        </td>
    </tr>
}

</table>
