﻿@model IEnumerable<QueRecTecnol.Models.QuejaReclamoBase>

@{
    ViewBag.Title = "Quejas/Reclamos";
    List<SelectListItem> estados = new List<SelectListItem>
{
new SelectListItem { Text = "Todas", Value="" },
new SelectListItem { Text = "Abiertas, pendientes...", Value="0" },
new SelectListItem { Text = "Consideradas cerradas", Value="1" },
};
}

<h2>Quejas y Reclamos</h2>
<div class="row">
    <p>
        @Html.ActionLink("Crear Queja", "Create", "Quejas", null, new { @role = "button", @class = "btn btn-default" })
        @Html.ActionLink("Crear Reclamación", "Create", "Reclamaciones", null, new { @role = "button", @class = "btn btn-default" })
    </p>
</div>

<div class="container" style="width:100%; padding-left: 0; padding-right: 0;">
    <div class="row row-content" min-height: 4em;">
        <div>
            @using (Html.BeginForm("Index", "QuejasReclamos", FormMethod.Get))
            {
<div class="input-group" style="padding: 1em; display: flex;">
    <input type="text" id="query" name="query" style="flex: 1;" class="form-control" placeholder="Búsqueda rápida (Cliente)">
    <div class="input-group">
        @Html.DropDownList("e", estados, new { @class = "form-control" })
    </div>
    <div class="input-group-btn">
        <button class="btn btn-default" type="submit">Buscar</button>
        @if (User.IsInRole("Admin"))
        {
            <button class="btn btn-default" type="submit" formaction="QuejasReclamos/Reporte">Generar Reporte (búsqueda)</button>
        }
    </div>
</div>            }
        </div>
    </div>
</div>


<div class="container" style="width:100%; padding-left: 0; padding-right: 0;">
    <div class="row row-content">
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="margin: 1em; border: 1px white solid; border-radius: 1em;">
                <div class="row" style="text-align: center;">
                    <h2>#@Html.DisplayFor(modelItem => item.QuejaRecID)</h2>
                    <div class="row">
                        De: <strong>@Html.DisplayFor(modelItem => item.Cliente.Nombre)</strong>
                    </div>
                    <div class="row">
                        Enviado: <strong>@Html.DisplayFor(modelItem => item.Fecha)</strong>
                    </div>
                    <div class="row">
                        Estado: <strong>@Html.DisplayFor(modelItem => item.Estado.Descripcion)</strong>
                    </div>
                </div>
                <div style="margin: 1em;">
                    <div class="row">
                        Dept: <strong>@Html.DisplayFor(modelItem => item.Departamento.Nombre)</strong>
                    </div>
                    <div class="row">
                        Tipo: <strong>@Html.DisplayFor(modelItem => item.Tipo.NombrePublico)</strong>
                    </div>
                    <div class="row">
                        @if (item is QueRecTecnol.Models.Queja)
                        {
                            @Html.ActionLink("E. Queja", "Edit", "Quejas", new { id = item.QuejaRecID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Detalles", "Details", "Quejas", new { id = item.QuejaRecID }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("E. Reclam.", "Edit", "Reclamaciones", new { id = item.QuejaRecID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Detalles", "Details", "Reclamaciones", new { id = item.QuejaRecID }, new { @class = "btn btn-primary" })
                        }

                        @if (User.IsInRole("Admin") || User.IsInRole("Empleado"))
                        {
                            @Html.ActionLink("Borrar", "Delete", new { id = item.QuejaRecID }, new { @class = "btn btn-danger" })
                        }
                    </div>
                </div>

            </div>
        }
    </div>
</div>