﻿@model QueRecTecnol.Models.QuejaReclamoBase

@{
    ViewBag.Title = "Sin autorización";
}

<h2>¡Acción ilegal!</h2>

<h3>Sin autorización</h3>
<div>
    
    No tiene autorización para realizar acciones en este reclamo en particular. Posiblemente no haya sido usted quien lo haya iniciado.
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
