﻿@model IEnumerable<QueRecTecnol.Models.TipoIdentificacion>

@{
    ViewBag.Title = "Tipos de Identificación";
}

<h2>T. Identificación</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoIdentificacionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoIdentificacionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoIdentificacionID })
        </td>
    </tr>
}

</table>
