﻿body {
    padding-top: 50px;
    height: 100vh;
    background: linear-gradient(to bottom,#000000 0%,#0c0808 100%);
    color: #DEDEDE;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse{
    background: #0c0808;
    text-transform:capitalize;
}

input{
    padding: .5em;
    border-radius: .3em;
    border: 1px white solid;
    background: #000;
}