﻿@model IEnumerable<QueRecTecnol.Models.Cliente>

@{
    ViewBag.Title = "Lista de Clientes";
}

<h2>Clientes</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Generar Reporte", "Reporte", null, null, new { @role = "button", @class = "btn btn-default" })
    </p>
}
<div class="container">
    <div class="row row-content ">
        @foreach (var item in Model)
        {
            <div class="col-md-5" style="margin: .5em; padding: 1em; border: 1px white solid; border-radius: .32em;">
                <div class="col-md-2" style="margin-right: .25em;">
                    <div class="row">
                        <img src="~/Content/Media/user.png" style="width: 90%; max-width: 4em;">
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <strong>@Html.DisplayFor(modelItem => item.Nombre)</strong>
                    </div>
                    <div class="row">
                        @Html.DisplayFor(modelItem => item.Identificacion) <strong>@Html.DisplayFor(modelItem => item.TipoIdentificacion.Descripcion)</strong>
                    </div>
                    <div class="row">
                        Creación: <strong>@Html.DisplayFor(modelItem => item.FechaCreacion)</strong>
                    </div>
                    <div class="row">
                        Estado: <strong>@Html.DisplayFor(modelItem => item.EstadoCliente.Descripcion)</strong>
                    </div>
                    <div class="row">
                        País: <strong>@Html.DisplayFor(modelItem => item.Pais.Nombre)</strong>
                    </div>
                    <div class="row">
                        @Html.ActionLink("Detalles", "Details", new { id = item.ClienteID }, new { @class = "btn btn-primary" })
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = item.ClienteID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Borrar", "Delete", new { id = item.ClienteID }, new { @class = "btn btn-danger" })
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>