﻿@{
    ViewBag.Title = "Estadísticas de valoración";
}

<h2>Estadisticas de valoración</h2>

<h3>Cuenta total de respuestas realizadas: @ViewBag.CuentaTotal</h3>

<h4>Breakdown por puntuación</h4>
@{
    float[] porcentajes = new float[]{ (ViewBag.Valoraciones[0] / ViewBag.CuentaTotal * 100),
    (ViewBag.Valoraciones[1] / ViewBag.CuentaTotal * 100),
    (ViewBag.Valoraciones[2] / ViewBag.CuentaTotal * 100),
    (ViewBag.Valoraciones[3] / ViewBag.CuentaTotal * 100),
    (ViewBag.Valoraciones[4] / ViewBag.CuentaTotal * 100),
    (ViewBag.Valoraciones[5] / ViewBag.CuentaTotal * 100)};
    string[] puntuaciones = new string[]
    {
        "PÉSIMO",
        "MALO",
        "EH...",
        "DECENTE",
        "BUENO",
        "GENIAL"
    };
}

<!-- personalmente no me gusta hacer esto (me encanta la parametrización) pero está tarde
    y me duele la cabeza-->
<div class="row container">
    @for (int i = 0; i < 6; i++)
    {
        <div class="col-md-2 col-sm-12" style="padding: 2em; border: 1px solid white; border-radius:1em;">
            <div class="row">
                <div class="col-sm-5">
                    <img src="~/Content/Media/rating_@(i).png" style="width:100%;" />
                </div>
                <div class="col-sm-7">
                    <h4>@puntuaciones[i]</h4>
                </div>
            </div>
            <div class="row">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="@porcentajes[i].ToString()" aria-valuemin="0" aria-valuemax="100" style="width: @(porcentajes[i].ToString() + "%");  color:black; float:none;">
                        @((ViewBag.Valoraciones[i]) + "(" + porcentajes[i].ToString() + "%)")
                    </div>
                </div>
            </div>
        </div>
    }   
</div>

<div style="margin: 1em;">
    @Html.ActionLink("Volver", "Index", null, null, new { @role = "button", @class = "btn btn-danger" })
    @Html.ActionLink("Descargar tabla estadística", "ExportarEstadistica", null, null, new { @role = "button", @class = "btn btn-default" })
</div>
