﻿@model QueRecTecnol.Models.Respuesta

@{
    ViewBag.Title = "Inconformidad";
}

<h2>¿Inconforme?</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Respuesta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class="control-label col-md-2">Última respuesta</label>
        <div class="col-md-10">
            Última respuesta (por @Html.ValueFor(model => model.Empleado.Nombre) )
            @Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
        </div>
    </div>

    @Html.HiddenFor(model => model.RespuestaID)
    @Html.HiddenFor(m => m.EmpleadoID)
    @Html.HiddenFor(m => m.DepartamentoID)
    @Html.HiddenFor(m => m.QuejaRecID)
    @Html.HiddenFor(m => m.Detalle)
    @Html.HiddenFor(m => m.FechaRespuesta)

    <div class="form-group">
        @Html.LabelFor(model => model.Inconformidad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Inconformidad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Inconformidad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Subir inconformidad" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}