﻿@model IEnumerable<QueRecTecnol.Models.Respuesta>

@{
    ViewBag.Title = "Respuestas";
}

<h2>Respuestas</h2>

<div style="display: inline-flex;">


    @if (User.IsInRole("Admin") || User.IsInRole("Empleado"))
    {
        <p>
            @Html.ActionLink("Nueva respuesta", "Create", null, null, new { @role = "button", @class = "btn btn-default" })
        </p>
    }

    @if (User.IsInRole("Admin"))
    {
        <p style="padding-left: 1em;">
            @Html.ActionLink("Generar Reporte", "Reporte", null, null, new { @role = "button", @class = "btn btn-default" })
        </p>
        <p style="padding-left: 1em;">
            @Html.ActionLink("Ver estadísticas", "Estadistica", null, null, new { @role = "button", @class = "btn btn-default" })
        </p>
    }
</div>

<div class="container">
    <div class="row row-content">
        @foreach (var item in Model)
        {
            <div class="col-md-3" style="margin: 1em; border: 1px white solid; border-radius: .2em;">
                <div class="row" style="text-align: center;">
                    <div class="row">
                        Estado del ticket: <strong>@Html.DisplayFor(modelItem => item.QuejaReclamo.Estado.Descripcion)</strong>
                    </div>
                    @if (!string.IsNullOrEmpty(item.Inconformidad))
                    {
                        <div class="row">
                            <strong>¡Cliente inconforme!</strong>
                        </div>
                    }
                    <h2>R &gt; #@Html.DisplayFor(modelItem => item.QuejaRecID)</h2>
                    <div class="row">
                        Cliente: <strong>@Html.DisplayFor(modelItem => item.QuejaReclamo.Cliente.Nombre)</strong>
                    </div>
                    <div class="row">
                        Última respuesta: <strong>@Html.DisplayFor(modelItem => item.FechaRespuesta)</strong>
                    </div>
                </div>
                <div style="margin: 1em;">
                    <div class="row">
                        Dept: <strong>@Html.DisplayFor(modelItem => item.Departamento.Nombre)</strong>
                    </div>
                    <div class="row">
                        Encargado: <strong>@Html.DisplayFor(modelItem => item.Empleado.Nombre)</strong>
                    </div>
                    @if (item.Valoracion != null)
                    {
                        <div class="row" style="margin: .25em;">
                            Valoración: <strong>@Html.DisplayFor(modelItem => item.Valoracion)</strong>/5
                            <img src="~/Content/Media/rating_@(Html.ValueFor(modelItem => item.Valoracion)).png" style="width: 4em;">
                        </div>
                    }
                    <div class="row" style="margin: .25em;">
                        Respuesta: <strong>@Html.DisplayFor(modelItem => item.Detalle)</strong>
                    </div>
                    <div class="row">
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Editar", "Edit", new { id = item.RespuestaID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Borrar", "Delete", new { id = item.RespuestaID }, new { @class = "btn btn-danger" })
                        }
                        @if (User.IsInRole("Empleado"))
                        {
                            @Html.ActionLink("Rectificar", "Rectificar", new { id = item.RespuestaID }, new { @class = "btn btn-primary" })
                        }

                        @if (User.IsInRole("Cliente"))
                        {
                            @Html.ActionLink("Inconforme", "Inconformidad", new { id = item.RespuestaID }, new { @class = "btn btn-danger" })
                            @Html.ActionLink("⭐", "Valorar", new { id = item.RespuestaID }, new { @class = "btn btn-primary" })
                        }

                    </div>
                </div>

            </div>
        }
    </div>
</div>