﻿@model QueRecTecnol.Models.Respuesta
@using System.Diagnostics;
@{
    ViewBag.Title = "Edit";
}

<h2>Rectificar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Respuesta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RespuestaID)


    @Html.HiddenFor(m => m.EmpleadoID)
    @Html.HiddenFor(m => m.DepartamentoID)
    @Html.HiddenFor(m => m.QuejaRecID)
    @Html.HiddenFor(m => m.FechaRespuesta)
    @Html.HiddenFor(m => m.Valoracion)

    @if (Model.Valoracion == null)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Detalle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Detalle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <h4>Ya el usuario ha valorado esta respuesta. Cambie el estado a cerrada si ya terminó.</h4>
        </div>
    }

    @if (!string.IsNullOrEmpty(Html.ValueFor(m => m.Inconformidad).ToString().Trim(' ')))
    {
        <div class="form-group">
            <em>@Html.LabelFor(model => model.Inconformidad, htmlAttributes: new { @class = "control-label col-md-2" })</em>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inconformidad, new { htmlAttributes = new { @class = "form-control", @readonly="true" } })
                @Html.ValidationMessageFor(model => model.Inconformidad, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.QuejaReclamo.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("EstadoQueRec_ID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.QuejaReclamo.EstadoQueRec_ID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @if (Model.Valoracion == null)
        {
            <label class="control-label col-md-2">¿Reiniciar Inconformidad?</label>
        }
        else
        {
            <label class="control-label col-md-2">¿Reiniciar Inconformidad y eliminar valoración?</label>
        }
        <div class="col-md-10">
            @Html.CheckBox("ReiniciarInconformidad", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver", "Index", new { @role = "button", @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}