﻿@model QueRecTecnol.Models.Respuesta

@{
    ViewBag.Title = "Valorar Respuesta";
}

<h2>Valorar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Si ya el ticket ha llegado a una respuesta final, usa esto para valorar la respuesta.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RespuestaID)
        @Html.HiddenFor(m => m.EmpleadoID)
        @Html.HiddenFor(m => m.DepartamentoID)
        @Html.HiddenFor(m => m.QuejaRecID)
        @Html.HiddenFor(m => m.FechaRespuesta)
        @Html.HiddenFor(m => m.Inconformidad)

        <div class="form-group">

            <div class="form-group">
                <em>@Html.LabelFor(model => model.Detalle, htmlAttributes: new { @class = "control-label col-md-2" })</em>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Detalle, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                    @Html.ValidationMessageFor(model => model.Detalle, "", new { @class = "text-danger" })
                </div>
            </div>

            <label class="control-label col-md-2">Favor seleccione la opción que corresponde con su satisfacción en cuanto a la respuesta provista.</label>
            <div class="col-md-10">
                <div class="col-sm-1">
                    <div class="col-sm-1">
                        @Html.RadioButton("valor", 0, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class=col-sm-11>
                        <div class="row">
                            <img src="~/Content/Media/rating_0.png" style="width: 4em;">
                        </div>
                        <div class="row">
                            PÉSIMO
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="col-sm-1">
                        @Html.RadioButton("valor", 1, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class=col-sm-11>
                        <div class="row">
                            <img src="~/Content/Media/rating_1.png" style="width: 4em;">
                        </div>
                        <div class="row">
                            MALO
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="col-sm1">
                        @Html.RadioButton("valor", 2, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class=col-sm-11>
                        <div class="row">
                            <img src="~/Content/Media/rating_2.png" style="width: 4em;">
                        </div>
                        <div class="row">
                            EH...
                        </div>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="col-sm-1">
                        @Html.RadioButton("valor", 3, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class=col-sm-11>
                        <div class="row">
                            <img src="~/Content/Media/rating_3.png" style="width: 4em;">
                        </div>
                        <div class="row">
                            DECENTE
                        </div>

                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="col-sm-1">
                        @Html.RadioButton("valor", 4, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class=col-sm-11>
                        <div class="row">
                            <img src="~/Content/Media/rating_4.png" style="width: 4em;">
                        </div>
                        <div class="row">
                            BUENO
                        </div>

                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="col-sm-1">
                        @Html.RadioButton("valor", 5, new { htmlAttributes = new { @class = "form-control" } })

                    </div>
                    <div class=col-sm-11>
                        <div class="row">
                            <img src="~/Content/Media/rating_5.png" style="width: 4em;">
                        </div>
                        <div class="row">
                            GENIAL
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Valorar ⭐" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Index", new { @role = "button", @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}