﻿@using Microsoft.AspNet.Identity
@using QueRecTecnol.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>
                @{ var user = (System.Security.Claims.ClaimsIdentity)User.Identity; }
                @Html.ActionLink("Hola " + user.FindFirstValue("Nombre") + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
               aria-aspopup="true" aria-expanded="false">
                Registrarse <span class="caret"></span>
            </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Registrarse (Cliente)", "RegisterClient", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })</li>
            <li>@Html.ActionLink("Registrarse (Empleado)", "RegisterEmployee", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "dropdown-item" })</li>
        </ul>


        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
