﻿@model IEnumerable<QueRecTecnol.Models.Queja>

@{
    ViewBag.Title = "No deberías poder ver esto";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @role = "button", @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departamento.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departamento.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuejaRecID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuejaRecID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuejaRecID })
        </td>
    </tr>
}

</table>
