﻿@model IEnumerable<QueRecTecnol.Models.TipoQuejaReclamo>

@{
    ViewBag.Title = "Tipos de ticket";
}

<h2>Tipos de ticket</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsParaReclamo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsParaReclamo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoQueRec_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoQueRec_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoQueRec_ID })
        </td>
    </tr>
}

</table>
