﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row row-content">

    <div style="display: flex; width: 100%; justify-content:center;">
        <img style="width: 30%; padding: 2em;" src="~/Content/Media/moshimoshi.png">
    </div>

</div>