﻿@model QueRecTecnol.Models.EstadoQuejaReclamo

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>EstadoQuejaReclamo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CierraTiquet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CierraTiquet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EstadoQueRec_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
