﻿@model IEnumerable<QueRecTecnol.Models.EstadoQuejaReclamo>

@{
    ViewBag.Title = "Estados de Ticket";
}

<h2>Estados de Ticket</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CierraTiquet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CierraTiquet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstadoQueRec_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstadoQueRec_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstadoQueRec_ID })
        </td>
    </tr>
}

</table>
