﻿@model IEnumerable<QueRecTecnol.Models.Producto>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>
<p>
    @Html.ActionLink("Nuevo Producto", "Create", null, null, new { @role = "button", @class = "btn btn-default" })
</p>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Generar Reporte", "Reporte", null, null, new { @role = "button", @class = "btn btn-default" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductoID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductoID })
            </td>
        </tr>
    }

</table>
